doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    nav
      a(href="/") Trang chủ
      a(href="/products") Danh sách sản phẩm
      a(href="/cart") Giỏ hàng
    block content